/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: #ddd;
}

h1, h2, h3, header {
  font-family: 'Alegreya Sans', sans-serif;
}

header {
  border-bottom: 1px solid gray;
  font-size: 400%;
}
header a {
  color: inherit;
  text-decoration: inherit;
}

main {
  background: white;
  box-shadow: 3px 3px 2px gray;
  border-radius: 3px;
  margin: auto;
  min-width: 600px;
  padding: 1em;
  width: 80%;
}

nav {
  font-size: medium;
  text-align: right;
}

nav a {
  color: gray;
  padding-left: 0.5em;
  text-decoration: none;
}