<% content_for(:title) do %>
  Authentications
<% end %>

<h2>Signed in</h2>
<ul>
  <% if @authentications.empty? %>
    You haven't signed into any providers yet. Pick one out below.
  <% else %>
    <% for auth in @authentications %>
      <%= link_to "Sign out of #{auth.provider.titleize}", auth, data: {confirm: 'Are you sure?'}, method: :delete %>
    <% end %>
  <% end %>
</ul>

<h2>Signed out</h2>
<ul>
  <% if @missing_providers.empty? %>
    You're signed into every provider!
  <% else %>
    <% for provider in @missing_providers %>
      <%= link_to "Sign in to #{provider.titleize}", user_omniauth_authorize_path(provider) %>
    <% end %>    
  <% end %>
</ul>
